/* * {
    cursor: none;
} */
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .scrollbar-hide {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}
@keyframes orbit-spin {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
